h1{
    font-family:'Roboto';
    font-size: 32px;
    font-weight: 100;
}
.parrafo{
    font-family: 'Dancing Script', "Dank Mono", monospace;
    /*font size: sirve para manejar el tamaño del texto*/
    font-size: 100px;
    /*font weight pueden ir numeros de 100 a 900
    !Important: al poner un peso en font weight no hay que poner unidades de medida
    bold=700
    bolder=900
    */
    font-weight: bold;
    /*text decoration: */
    text-decoration: underline;
}
/*Colores 
RGBA: Red Green Blue Alpha
rgb: Red Green Blue
alpha: opacidad 0-1
hsl: hu saturation lightness


*/
.link-a{
    font-size: 32px;
    font-family: "Dank Mono";
    text-decoration: none;/* al poner none se invalida la propiedad*/
    color: rgb(38, 0, 255); /*color sirve para óner color a un texto en hexadecimal*/
}
body{
    font-family: Arial, helvetica, Courier;
    background-color: rgb(77, 6, 45);
}
ul{   
    background-color: rgba(53, 146, 239, 0.3);

}
.span-1{
    text-decoration: underline;
    text-transform: uppercase;
}
.span-2{
    text-decoration: overline;
    text-transform: lowercase;
}
.span-3{
    text-decoration: line-through;
    text-transform: capitalize;
    background-color: rgb(0, 183, 255);
}
.span-4{
    text-decoration: overline;
    color: brown;
    text-transform: lowercase;
}
/*el font family puede ir cualquier nombre pero por buena practica se recomienda su nombre oficial*/
@font-face{
    /* en este caso font family es el nombre de la fuente*/
    font-family: "Nunito";
    /*los dos puntos"../" significan retroceder una carpeta*/
    src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf");
}
.fuente1{
    font-family: "Nunito";

}